*   {
    margin:0px;
    padding: 0px;
}
/*creando el modo claro*/
body.modoClaro {
    --colorFondo: #EEEEEE;
    --color: #424242;
    --fondoMain: #E0E0E0;
    --colorHeader: #E0E0E0;
    --border-radius: 3px;
  }

  body.modoOscuro{
    --colorFondo: #30343f ;
     --color: rgb(220, 237, 255);
     --aside:#252935;
     --colorHeader: #191e2b;
     --fondoMain:#393e49;
     --border-radius: 3px;
 }




.contenido{
    display: flex;
    flex-direction: row;
}
.left{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
    background-color: var(--colorFondo);
}
/*Estilos header*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--colorHeader);
    width: 100%;
   
}
.boton{
    color: var(--color);
    background-color:  transparent;
    border-radius: 5px;
    
}
#boton{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: var(--color);
   background-color: var(--colorHeader);
    text-decoration: none;
    margin-right: 5px;
    display: block;
    border: none;
    /*
    background-color: var(--colorHeader);
    color: var(--color);
    border: none;*/
}
.title{
    font-family: 'Montserrat', sans-serif;
    margin: 15px;
    font-size: 12px;
    color: var(--color);
}
.titulo{
    font-family: 'Montserrat', sans-serif;
    margin: 15px;
    font-size: 25px;
    color: var(--color);
}
.barra{
    display: flex;
    flex-direction: row;

    
}
.imagen{
    display: flex;
    flex-direction: row;
    margin: 10px;
    
}
.texto{
    display: flex;
    flex-direction: row; 
    margin: 10px;
}
.oscuro{
    display: flex;
    flex-direction: row; 
    margin: 10px;
}
a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}

.text-image{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: var(--color);
   background-color: var(--colorHeader);
    text-decoration: none;
    margin-right: 5px;
    display: block;
    border: none;

}


.top    {
    height: 100px;
    width: 500px;
    background-color: white;
    margin-top: 10px;
}
.bottom {
    height: 100px;
    width: 500px;
    background-color: white;
}
#divcolor{
    background-color: black;
    height: 300px;
    width: 500px;
}
#im{
    height:300px;
    width:500px
}
.middle-text    {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

aside   {
    width: 30%;
    background-color: var(--aside);
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.aside-title    {
    
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: var(--color);
}
.forms  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: green; */
    padding: 10px;
    width: 200px;
    margin-top: 30px;
}

.url-input  {
    width: 100%;
  
}

.style-color    {
    margin-top: 30px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    flex-direction: column;

}
.fondo-container    {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: red; */
    
    
}
.fondo  {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: var(--color);
}
label{
    color: var(--color);
}
.color-box  {
    padding: 10px;

}

.options    {
padding: 10px;
}

.filtros    {
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 20px;
}

.filtros-div   {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 0px;
    width: 150px;
    height: 35px;
    padding: 5px;
    border-radius: 40px;
    overflow: hidden;
    font-size: 15px;
}

#download-meme-button {
    margin-top: 30px;
    padding: 15px 15px;
    border-radius: 5px;
    height: auto;
    background-color: #2e7d32;
    color: white;
    
}
#download-meme-button:hover, #download-meme-button:focus {
    background-color: #1b5e20;
}
.ocultar{
    display: none;
}
/*estilos panel*/
.panel-control-input {
    width: 100%;
    height: 22px;
    background-color: var(--fondoMain);
    border-radius: var(--border-radius) ;
    transition: background-color 0.2s;
    padding: 5px 10px;
    margin-bottom: 5px;

 }
